
.header
  .header-top
    .header-top__right
      = link_to 'root_path' ,class: 'header-top__right--logo' do
        4コマ
    .header-top__left
      - if user_signed_in?
        = link_to "/users/#{current_user.id}" do
          マイページ
        = link_to destroy_user_session_path, method: :delete ,class: 'header-top__left--logout' do
          ログアウト
      - else
        = link_to new_user_session_path ,class: 'header-top__left--lgn' do
          ログイン
        = link_to new_user_registration_path ,class: 'header-top__left--new' do
          新規登録
      = link_to new_post_path ,class: 'header-top__left--post' do
        投稿する
.wrapper
  .main
    .main-contents
      %h1.main-new__title
        新着４コマ
      .new-contents
        - @posts.each do |post|
          .new-content
            .new-content__img
              写真
            .new-content__title
              = link_to post_path(post.id), class: 'new-content__title--top' do
                = post.title
            .new-content__user
              = link_to "/users/#{post.user.id}", class: 'new-content__title--top' do
                = post.user.name
.fotter 
  .fotter-main
    %ul.fotter-main__list
      %li.fotter-main__list--content お問い合わせ
      %li.fotter-main__list--content プライバシーポリシー
      %li.fotter-main__list--content 特定商取引に基づく表記
      %li.fotter-main__list--content 運営会社