= render 'shared/header'
.post-container
  %main.post-main
    %section.post-main__container
      #post-container
        .post-new-header ４コマ投稿ページ
        
        = form_with model: @post, class:"form-box", local: true do |f| 
          .form-box__name
            %p 投稿タイトル
            %span.need 必須
          = f.text_field :title, class:"form-box__name--text", placeholder:"タイトルを入力"
          .form-box__img
            %p 投稿画像
            %span.need 必須
          %p ペンアイコンをクリックして最大4枚までアップロードできます
          = f.fields_for :boards do |i|
            #image-box-1
              %label#image-box__container.item-num-0
                = i.file_field :images, multiple: true, class: "post-image__area", type: 'file', name: "boards[images][]", value:"",  id:"img-file"
                %i.fas.fa-marker
          .form-box__text-header
            %p テキスト
          = f.text_field :text, class:"form-box__text", placeholder:"テキストを入力"
          = f.submit '投稿する', class:"form-box__submit"
          = link_to root_path ,class: 'top-remove' do
            TOPにもどる