.show
  .show-box
    .show-author
      投稿者: #{@post.user.name}
    .show-title
      タイトル: #{@post.title}
      タイトル: #{@post.text}
    .show-img
      - @post_boards.each do |i|
        = image_tag i.images.to_s, width: "500px", height: "500px", width: "600px"
    .show-text
      説明文: #{@post.text}
    .comment
      %p ここからコメント入力できます。
      - if current_user
        = form_with model: [@post, @comment], class: "comment-form", local: true do |f|
          = f.text_area :text, class: "comment-form__area", plsceholder: "コメントする", rows: "2"
          = f.submit "SEND",class: "comment-form__btn"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h3 コメント一覧
      - if @comments
        - @comments.each do |comment|
          %p.comments__text
            = link_to comment.user.name, "/users/#{comment.user_id}"
            = comment.text
